<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/railways_db</property>
        <property name="hibernate.connection.username">mysql</property>
        <property name="hibernate.connection.password">vladimir1602</property>
        <property name="show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="ru.tolstikhin.entities.User"/>
        <mapping class="ru.tolstikhin.entities.Role"/>
        <mapping class="ru.tolstikhin.entities.Passenger"/>
        <mapping class="ru.tolstikhin.entities.City"/>
        <mapping class="ru.tolstikhin.entities.Route"/>
        <mapping class="ru.tolstikhin.entities.Seat"/>
        <mapping class="ru.tolstikhin.entities.Ticket"/>
        <mapping class="ru.tolstikhin.entities.Train"/>
        <mapping class="ru.tolstikhin.entities.TrainStation"/>
        <mapping class="ru.tolstikhin.entities.Wagon"/>
        <mapping class="ru.tolstikhin.entities.WagonType"/>
    </session-factory>
</hibernate-configuration>